.btn {
  align-self: center;
  position: relative;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: @font-size-btn;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;

	
	&--icon-calendar {
		display: none;
    @media (min-width: @screen-lg-min) {
      display: inline-block;
      background-color: @orange;
      padding-left: 42px;
      padding-right: 20px;
      border-radius: 50px;
      &::before {
        position: absolute;
        left: 20px;
        top: 11px;
        content: '';
        width: 15px;
        height: 16px;
        background-image: url('../../img/btn-icon-calendar.png');
      }
    }
	}


	&--white-bordered {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    padding: 12px 28px;
}
}
