.page-header {
	position: relative;
	padding-top: 17px;
	padding-bottom: 25px;
	&--active {
		border: 1px solid  @gray-lightest;
	      border-bottom: none;
	}

	&__container {
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-width: @screen-lg-min) {
			justify-content: space-between;
		}

		 @media (min-width: @screen-lg-min) {
        width: 1180px;
      }
	}

	&__contacts {
		display: none;

		@media (min-width: @screen-lg-min) {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
	}

	&__phone {
		text-decoration: none;
		color: @text-color;
		font-size: 18px;
		font-family: @font-family--ptsans-cap;
		font-weight: bold;
	}

	&__address {
		color: @text-color;
		font-size: @font-size-small;
		font-family: @font-family--fira;
	}

	&__btn {
		display: none;
		@media (min-width: @screen-lg-min) {
			display: block;
		}
	}
}