.place {
	
	&__link {
		text-decoration: none;
  	color: @text-color-black;
	}

	&__text {
		// border: 1px solid red;

		&--rest-type{
			background-color: @white;
			padding-top: 38px;
			padding-bottom: 50px;
		}

		&--room-type {
			background-color: @grey-light;
			padding-top: 38px;
			padding-bottom: 28px;
		}
	}

	&__title {
		font-size: @font-size-h1;
		line-height: 19px;
		margin-bottom: 10px;
	}

	&__price {
		font-size: @font-size-small;
		line-height: 24px;
	}

	&__total-sum {
		color: @text-color-orange;
	}




// если понадобится общий для всех блоков
	&__img {
		// border: 1px solid red;
		display: block;
	}
}