.place {
	
	&__link {
		text-decoration: none;
  	color: @text-color;
	}

	&__text {

		&--rest-type{
			background-color: white;
			padding-top: 38px;
			padding-bottom: 50px;
		}

		&--room-type {
			background-color: @gray-lightest;
			padding-top: 38px;
			padding-bottom: 28px;
		}

		&--about-room {
			text-align: center;
			padding-top: 48px;
			padding-bottom: 30px;
			@media (min-width: @screen-sm-min) {
				padding-bottom: 48px;
			}
		}
	}

	&__title {
		font-size: 30px;
		line-height: 19px;
		margin-bottom: 10px;
		font-family: @font-family;
	}

	&__price {
		font-size: @font-size-small;
		line-height: 24px;
	}

	&__total-sum {
		color: @color-main--orange;
	}




// если понадобится общий для всех блоков
	&__img {
		display: block;
	}
}