.rest-type {
	background-color: @color-main--green;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 32px;

  &__container {
  	max-width: 1180px;
    width: 100%;
  	margin: 0 auto;
  }

  &__title {
  	margin: 0;
  	margin-bottom: 35px;
    color: white;
    font-size: 26px;
  }

  &__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}	

  &__picture {
    display: block;
    text-align: right;
  }
}
