.room-type {

	&__container {
		// border: 1px solid green;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		padding-top: 50px;
		margin-bottom: 30px;
		font-size: @font-size-h1;
		color: @text-color-black;
	}

	&__items-wrapper {
		// border: 2px dashed green;
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		// border: 1px solid orange;
		position: relative;
		padding-bottom: 18px;
		background-color: @grey-light;
		width: 100%;
		margin: auto;
		margin-bottom: 50px;
		text-align: center;

		@media (min-width: @screen-lg-min) {
	    padding-right: 581px;
	    min-height: 305px;
  }
	}

	&__picture {
		display: block;
		max-width: 580px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 38px;
		text-align: center;

		@media (min-width: @screen-lg-min) {
      position: absolute;
      top: 0;
      right: 0;
      width: 581px;
      height: 100%;
    }
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;

			@supports (object-fit: cover) {
        height: 100%;
        object-fit: cover;
      }
	}

	&__description {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		order: 20;
		// border: 1px solid green;
		margin: 0 auto;
		margin-bottom: 38px;
		max-width: 420px;
		width: 100%;
		text-align: left;
		font-size: @font-size-base;
		line-height: @line-height-base;
	}

	&__btn-wrapper {
		max-width: 332px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		height: 80px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				height: auto;
			}
	}
}