




@font-face {
    font-family: 'PT Sans Caption';
    src: url('ptsanscaption.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Caption';
    src: url('ptsanscaption_bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}