@text-color-black: #1c1c1c;
@text-color-orange: #ff7435;
@text-color-white: #fff;
@orange: #ff7435;

@grey: #f1f1f1;
@grey-dark: #ebebeb;
@grey-light: #fafafa;
@grey-lighten: #f6f6f6;
@aqua: #23bdae;
@white: #fff;


@font-family:                 'Fira Sans';

@font-size-h1: 26px;
@font-size-h2: 18px;
@font-size-base: 16px;
@font-size-small: 14px;
@font-size-btn: 14px;

// @line-height-h2: 19px;
@line-height-base: 22px;
@line-height-btn: 18px;


@screen-sm-min:               768px;
@screen-md-min:               992px;
@screen-lg-min:               1200px;


// fira sans medium 
// fira sans regular

// pt sans caption bold
// pt serif caption